<!doctype html>
<html>
    <head>
        <style>
         ul {
            
            margin: center;
            font-size: 100%;
        }
        </style>
    
    </head>
        <body>
            
            <ul> 
                         
                <a href='/'><b>Home</b></a>
                <a style="margin-left: 1em" href='/blog'><b>All Posts</b></a>
                <a style="margin-left: 1em" href='/newpost'><b>New Post</b></a>
                
                <div align="right">
                <a style="margin-right: 1em"href='/logout'><b>Log Out</b></a>
                <a style="margin-right: 1em"href='/login'><b>Log In</b></a>
                </div>
            </ul>
            
    
        
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>

        {% endwith %}
   
    
    {% block content %}
    {% endblock %}

</body>
</html>