{% extends "base.html" %}

{% block content %}
<h1>Signup</h1>
<form action="/signup" method="post">
    <body>
        <p>
        <label for="username">Username:</label>    
        <input name="username" type="text" value="{{ username }}">
        <span class="error">{{username_err}}</span>
        <br/>
        <label for="password">Password:</label>
        <input name="password" type="password">
        <span class="error">{{password_err}}</span>
        <br/>
        <label for="verify">Verify Password:</label>
        <input name="verify" type="password">
        <span class="error">{{verify_err}}</span>
        
        </p>
    </body>
    <input type="submit" value="Submit">
</form>
{% endblock %}