{% extends "base.html" %}
<!DOCTYPE html>
<html>
    <body>
{% block content %}
        <h2>Add a Blog Entry </h2>
        <form action='/newpost', method="post">
            <p>
                <label for="title"><b>Title of your new blog:<b></label>
                <br/>
                <input id="title" name="title" type="text" value="{{request.form['title']}}"/>
                <span class="error">{{title_err}}</span>
            </p>

            <p>
                <label for="new_blog"><b>Your new blog:<b></label>
                <br/>
                <textarea id="new_blog" name="new_blog">{{request.form['new_blog']}}</textarea>
                <span class="error">{{new_blog_err}}</span>
            </p>

            <input type="submit" value='Add Entry'/>
        </form>
{% endblock %}
    </body>
</html>   